<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form>
        name: <input id="name" type="text" name="name"><br>
        email: <input id="email" type="text" name="email"><br>
        number: <input id="number" type="text" name="number"><br>
        <br>
        <button type="submit">Submit</button>

    </form>
    <div id="message"></div>

    <script>
        fetch('/', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                name: document.getElementById('name').value,
                email: document.getElementById('email').value,
                number: document.getElementById('email')
            })
        })
        .then((data)=>{
            document.getElementById('message').innerHTML = "form data has been sent"
        })
    
    </script>
</body>
</html>